.popup {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    position: relative;
}

.email {
    width: 300px;
    height: 50px;
    font-size: 20px;
}

.password {
    width: 300px;
    height: 50px;
    font-size: 20px;
}

.confirm-btn {
    width: 300px;
    height: 50px;
    background-color: darkgreen;
}

.margin {
    margin: 10px;
}

.error {
    color: red;
    font-size: 14px;
    position: absolute;
    top: 51px;
    left: 10px;
}
